body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Jesenice%2C_Slovenia_%28Unsplash%29.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}


li {
	list-style: lower-alpha;
	background: aliceblue;
}

.html-list{
	list-style: lower-alpha;
	background: aqua;
	width: 2000px;
	font-size: 14px;
}

.center {
	width: 100%;
	margin: auto;
	text-align: center;
}

.center-list {
	width: 10%;
	list-style-position: inside;
	text-align: left;
	display: inline-block;
	font-size: 12px;
}