body {
	background-image: url("https://cdn.allwallpaper.in/wallpapers/4065x2705/16374/sky-and-mountainscape-4065x2705-wallpaper.jpg");
	background-size: 100%;
}

li {
	list-style: none;
}

.html-list{
	list-style: square;
	width: 2000px;
	font-size: 14px;
}

.center {
	width: 100%;
	margin: auto;
	text-align: center;
}

.center-list {
	width: 10%;
	list-style-position: inside;
	text-align: left;
	display: inline-block;
	font-size: 12px;
}